@using Avicola.Office.Entities
@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.GeneticLines.CreateStandardGeneticLineForm
@{
    var title = String.Format("Valores de {0} para {1}",
        Model.StandardGeneticLine.Standard.Name.ToUpper(),
        Model.StandardGeneticLine.GeneticLine.Name.ToUpper());
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@title</h3><br/>

@using (Html.BeginForm((string)ViewBag.Operation, "StandardGeneticLine", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   
    @Html.HiddenFor(model => model.StandardGeneticLine.GeneticLine.Id)
    @Html.HiddenFor(model => model.StandardGeneticLine.Standard.Id)
    @Html.HiddenFor(model => model.StandardGeneticLine.Standard.AllowDecimal)
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="@(ViewBag.Operation == "Edit" ? "Editar" : "Crear")" class="btn btn-default"/>
            @Html.BackButton("/StandardGeneticLine/Index/" + Model.StandardGeneticLine.GeneticLine.Id, "Volver a listado de estándares")
        </div>
    </div>

    @Html.Partial("_EditionControls")
}

@section scripts
{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="/Scripts/app/office-create-standard.js" type="text/javascript"></script>
    <script>
        var options = {
            showSecondValue: '@(Model.StandardGeneticLine.Standard.StandardTypeId == StandardType.VALUES_RANGE)' == 'True',
            standardName: '@Model.StandardGeneticLine.Standard.Name',
            geneticLineName: '@Model.StandardGeneticLine.GeneticLine.Name',
            measureUnity: '@Model.StandardGeneticLine.Standard.MeasureUnity',
            allowDecimal: '@Model.StandardGeneticLine.Standard.AllowDecimal' == 'True'
        }

        $(function () {
            standardForm.initialize(options);
        });
    </script>
}
