@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.GeneticLines.CreateStandardGeneticLineForm
@{
    ViewBag.Title = "Valores de " + Model.StandardGeneticLine.Standard.Name.ToUpper() + "para " + Model.StandardGeneticLine.GeneticLine.Name.ToUpper();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Valores de @Model.StandardGeneticLine.Standard.Name.ToUpper() para @Model.StandardGeneticLine.GeneticLine.Name.ToUpper()</h3><br/>

@using (Html.BeginForm("Create", "StandardGeneticLine", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.StandardGeneticLine.GeneticLine.Id)
    @Html.HiddenFor(model => model.StandardGeneticLine.Standard.Id)
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Crear" class="btn btn-default"/>
            @Html.BackButton("/StandardGeneticLine/Index/" + Model.StandardGeneticLine.GeneticLine.Id, "Volver a listado de estándares")
        </div>
    </div>

    <table style="width: 100%;">
        <tr>
            <td style="width: 350px; vertical-align: top;">
                <div class="standard-item-container">
                    <table>
                        <thead>
                        <th style="text-align: center;"><h3>Semana</h3></th>
                        <th style="width: 30px;"></th>
                        <th style="text-align: center;"><h3>Valor</h3></th>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.StandardItems)
                        </tbody>
                    </table>
                </div>
            </td>
            <td style="vertical-align: top;">
                <div id="chart-container"></div>
            </td>
        </tr>
    </table>
}





<style>
    .standard-item-container {
        padding: 15px 35px;
        border: 1px solid black;
        width: 300px;
    }

     .standard-item-container ul, .standard-item-container li{
         display: none;
     }

     #chart-container {
         height: 550px;
         border: 1px solid black;
         padding: 10px;
     }
</style>

@section scripts
{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
    function generateChart() {
        var categories = [];
        var values = [];

        $('.standard-item-value').each(function (i, item) {
            categories.push(i + 1);
            values.push(parseFloat($(item).val()));
        });

        $('#chart-container').highcharts({
            title: {
                text: '@Model.StandardGeneticLine.GeneticLine.Name',
                x: -20 //center
            },
            subtitle: {
                text: 'Standard: @Model.StandardGeneticLine.Standard.Name',
                x: -20
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: '@Model.StandardGeneticLine.Standard.Name (@Model.StandardGeneticLine.Standard.MeasureUnity)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' @Model.StandardGeneticLine.Standard.MeasureUnity'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: '@Model.StandardGeneticLine.Standard.Name',
                        data: values
                    }]
                });
            }

        $(function () {
            $('.standard-item-value').change(function () {
                if (!$(this).val()) {
                    $(this).val('0,00');
                }
                generateChart();
            });

            generateChart();
        });
    </script>
}
