@using Framework.Common.Web.Helpers
@model Avicola.Web.Models.GeneticLines.CreateStandardGeneticLineForm
@{
    var title = String.Format("Valores de {0} para {1}   [Etapa: {2}]",
        Model.StandardGeneticLine.Standard.Name.ToUpper(),
        Model.StandardGeneticLine.GeneticLine.Name.ToUpper(),
        Model.StandardGeneticLine.Stage.Name);
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@title</h3><br/>

<div class="form-group">
    <div class="col-md-10" style="padding-left: 0; margin-bottom: 10px;">
        @Html.BackButton("/StandardGeneticLine/Index/" + Model.StandardGeneticLine.GeneticLine.Id, "Volver a listado de estándares")
    </div>
</div>

<table style="width: 100%;">
    <tr>
        <td style="width: 350px; vertical-align: top;">
            <div class="standard-item-container">
                <table>
                    <thead>
                    <th style="text-align: center;"><h3>Semana</h3></th>
                    <th style="width: 30px;"></th>
                    <th style="text-align: center;"><h3>Valor</h3></th>
                    </thead>
                    <tbody>
                        @Html.DisplayFor(model => model.StandardItems)
                    </tbody>
                </table>
            </div>
        </td>
        <td style="vertical-align: top;">
            <div id="chart-container"></div>
        </td>
    </tr>
</table>


<style>
    .standard-item-container {
        padding: 15px 35px;
        border: 1px solid black;
        width: 300px;
    }

     .standard-item-container ul, .standard-item-container li{
         display: none;
     }

     #chart-container {
         height: 550px;
         border: 1px solid black;
         padding: 10px;
     }
</style>

@section scripts
{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script>
    function generateChart() {
        var categories = [];
        var values = [];

        $('.item-value').each(function (i, item) {
            categories.push(i + 1);
            values.push(parseFloat($(item).html()));
        });

        $('#chart-container').highcharts({
            title: {
                text: '@Model.StandardGeneticLine.GeneticLine.Name',
                x: -20 //center
            },
            subtitle: {
                text: 'Standard: @Model.StandardGeneticLine.Standard.Name',
                x: -20
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: '@Model.StandardGeneticLine.Standard.Name (@Model.StandardGeneticLine.Standard.MeasureUnity)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' @Model.StandardGeneticLine.Standard.MeasureUnity'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: '@Model.StandardGeneticLine.Standard.Name',
                        data: values
                    }]
                });
            }

        $(function () {
            generateChart();
        });
    </script>
}
