@using Framework.Common.Web.Helpers;
@using PagedList.Mvc;
@model Avicola.Web.Models.ProviderListModel

<br/>

@Html.ActionLink("Crear Proveedor", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })


@Html.FilterButton()

<div class="spacer">
</div>

@Html.Partial("_Filters", Model.Filters)

<div class="spacer">
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>@AvicolaGlobalResources.Name</th>
        <th>@AvicolaGlobalResources.Address</th>
        <th>@AvicolaGlobalResources.City</th>
        <th>@AvicolaGlobalResources.Tel1</th>
        <th>@AvicolaGlobalResources.CellPhone</th>
    </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var truck in Model.List)
        {
            <tr>
                <td>@Html.ActionLink(truck.Name, "Detail", "Provider", routeValues: new { truck.Id }, htmlAttributes: null)</td>
                <td>@truck.Address</td>
                <td>@truck.City</td>
                <td>@truck.Tel1</td>
                <td>@truck.CellPhone</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.List, page => Url.Action("Index", Model.Filters.GetRouteValues(page)))