@model Avicola.Web.Models.BarnListModel

<br />

@Html.ActionLink("Crear Galpón", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })


@Html.FilterButton()

<div class="spacer">
</div>

@Html.Partial("_Filters", Model.Filters)

<div class="spacer">
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@AvicolaGlobalResources.Number</th>
            <th>@AvicolaGlobalResources.Capacity</th>
            <th>@AvicolaGlobalResources.Stage</th>
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var barn in Model.List)
        {
            <tr>
                <td>@Html.ActionLink(barn.Name, "Detail", "Barn", routeValues: new { barn.Id }, htmlAttributes: null)</td>
                <td>@barn.Capacity</td>
                <td>@barn.Stage.Name</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.List, page => Url.Action("Index", Model.Filters.GetRouteValues(page)))