@using Framework.Common.Web.Helpers;
@using PagedList.Mvc;
@model Avicola.Web.Models.TruckListModel

<br />
@Html.ActionLink("Crear Camion", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })


@Html.FilterButton()

<div class="spacer">
</div>

@Html.Partial("_Filters", Model.Filters)

<div class="spacer">
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Patente</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var truck in Model.List)
        {
            <tr>
                <td>@Html.ActionLink(truck.NumberPlate, "Detail", "Truck", routeValues: new { truck.Id }, htmlAttributes: null)</td>
                <td>@truck.Description</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.List, page => Url.Action("Index", Model.Filters.GetRouteValues(page)))